@import 'variables';

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  color: $primaryTextColor;
  background-color: $primaryBackgroundColor;
}

.container {
  max-width: $maxContainerWidth;
  padding: 0 32px;
  margin: 0 auto;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  align-items: center;
}

.header__menu-button {
  display: none;
}

.header__logo {
  margin-right: 15px;
}

.header__location {
  position: relative;
}

.location__list {
  display: block;
  box-sizing: border-box;
  width: 196px;
  height: 32px;
  padding: 5px 10px 5px 40px;
  background-image: url("../images/location.svg");
  background-repeat: no-repeat;
  border-radius: 16px;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &:hover {
    background-color: $greyOnWhiteBackgroundColor;
    background-image: url("../images/place.svg");
  }
}

.header__search {
  box-sizing: border-box;
  width: 592px;
  height: 48px;
  padding: 13px 8px 13px 48px;
  border: none;
  border-radius: 24px;
  background-color: $greyOnWhiteBackgroundColor;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: 8px 8px;
  text-align: center;
  cursor: text;
}

.header__likes {
  display: block;
  box-sizing: border-box;
  width: 43px;
  height: 32px;
  margin-right: 10px;
  padding: 5px 15px 5px 32px;
  border-radius: 16px;
  background-image: url("../images/like.svg");
  background-repeat: no-repeat;
  background-position: 7px 7px;
  cursor: pointer;

  &:hover {
    background-color: $greyOnWhiteBackgroundColor;
  }
}

.header__user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 120px;
  height: 32px;
  padding-left: 9px;
  cursor: pointer;

  &:hover {
    color: $descriptorColor;
  }
}

.user__name {
  margin-right: 8px;
}

.nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  overflow: hidden;
}

.nav__item {
  margin-bottom: 16px;
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.nav__link {
  display: block;
  box-sizing: border-box;
  padding: 3px 10px;
  border-radius: 12px;
  text-decoration: none;
  color: inherit;

  &:hover {
    background: $greyOnWhiteBackgroundColor;
  }
}

.nav__link-active {
  background: $greyOnWhiteBackgroundColor;
}

.modal {
  position: absolute;
  top: 40px;
  left: 0;
  box-sizing: border-box;
  max-width: 384px;
  padding-top: 24px;
  background-color: $primaryBackgroundColor;
  box-shadow: 0 7px 38px rgba(44, 62, 106, 0.25);
  border-radius: 10px;
}

.modal-animated {
  animation: modal-animation 0.8s ease-out 0s 1 normal forwards;
}

@keyframes modal-animation {
  0% {
    opacity: 0.6;
    transform: rotateX(-50deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}

.location-form__search {
  position: relative;
  padding: 0 16px;
}

.location-form__search-input {
  box-sizing: border-box;
  width: 352px;
  height: 48px;
  margin-bottom: 16px;
  padding: 12px 35px 12px 25px;
  border: 2px solid $selectedColor;
  border-radius: 24px;
  color: $primaryTextColor;

  &:active {
    outline: none;
  }

  &:focus {
    outline: none;
  }
  &::placeholder {
    color: $iconColor;
  }
}

.clear-icon {
  position: absolute;
  top: 9px;
  right: 25px;
}

.selected-locations {
  margin: 0;
  padding: 0 16px;
  list-style: none;
  border-bottom: 1px solid $outlineColor;
}

.selected-locations__item {
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  height: 40px;
  margin-right: 10px;
  padding: 9px 32px 9px 16px;
  background-color: #0656B4;
  border-radius: 20px;
  color: #FFF;
  margin-bottom: 16px;
}

.close-icon {
  position: absolute;
  top: 13px;
  right: 10px;
  fill: #FFF;

  &:hover path {
    fill: $selectedOrErrorColor;
  }
}

.available-locations {
  width: 100%;
  height: 140px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;

  &:hover {
    overflow-y: scroll;
  }

  &::-webkit-scrollbar {
    width: 8px;
    background: transparent ;
  }

  &::-webkit-scrollbar-thumb {
    background: $outlineColor;
    border-radius: 2px;
    border: 2px solid transparent;
    background-clip: padding-box;
    min-height: 40px;

    &:hover {
      background: $descriptorColor;
      width: 10px;
    }
  }
}

.available-location__item {
  padding: 11px 6px;

  &:hover {
    background: $greyOnWhiteBackgroundColor;
  }
}

.available-location__item_selected {
  background: $greyOnWhiteBackgroundColor;
}

.available-location__item-name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
}

.available-location__item-region {
  display: none;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  color: $descriptorColor;
}

.location-form__button {
  width: 100%;
  color: #FFF;
  background-color: $activeColor;
  border: none;
  padding: 16px 0;
  border-radius: 0 0 10px 10px;
}

.loader {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;

  &:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border-width: 6px;
    border-style: solid;
    border-color: $activeColor transparent $activeColor transparent;
    animation: loader 1.2s linear infinite;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.searched-substring {
  color: $activeColor;
}

@media screen and (max-width: 1200px) {
  .nav__list {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 992px) {
  .header__top {
    flex-wrap: wrap;
  }
  .header__search {
    order: 1;
    margin: 15px auto 0;
  }
}

@media screen and (max-width: 576px) {
  .header__menu-button {
    display: block;
  }
  .header__location, .header__search, .header__user, .header__nav {
    display: none;
  }
}
